body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a1a1a;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav .logo {
    font-weight: 700;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    padding-bottom: 200px;
}

.welcome .photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.welcome-text {
    font-size: 3em;
    margin-left: 20px;
}

.presentation-activities {
    background-color: #1f1f1f;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.presentation-text, .activities {
    flex: 1;
    text-align: center;
}

.presentation-text {
    padding-left: 150px;
}

.activities {
    padding-right: 150px;
}

.tools {
    background-color: #242424;
    padding: 20px;
    text-align: center;
}

.gallery {
    text-align: center;
    padding: 20px;
}

.gallery-images {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.image {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    transition: transform 0.3s;
}

.image:hover {
    transform: scale(1.1);
}

.portfolio-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #13bfbc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.portfolio-button a {
    text-decoration: none;
    color: white;
}

.contact {
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #13bfbc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.icons {
    text-align: center;
    padding: 20px;
}

.icons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon img {
    width: 90px;
    height: 90px;
    transition: transform 0.3s;
}

.icon img:hover {
    transform: scale(1.2);
}

.about-title {
    font-size: 3em;
    color: #13bfbc;
    text-align: center;
    margin: 20px auto;
    border-bottom: 3px solid #13bfbc;
    display: block;
    width: fit-content;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
    margin-bottom: 60px;
}

.experience-section, .education-section {
    padding: 40px;
    background-color: #2a2a2a;
    color: #ffffff;
    margin-bottom: 80px;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about-description {
    max-width: 600px;
    text-align: left;
}

.about-heading {
    font-size: 2em;
    color: #13bfbc;
    margin-bottom: 10px;
}

.cv-button {
    margin-top: 20px;
    background-color: #13bfbc;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
}

.cv-icon {
    font-size: 1.2em;
}

.experience-heading, .education-heading {
    font-size: 2em;
    color: #13bfbc;
    text-align: center;
    margin-bottom: 20px;
}

.experience-list, .education-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.experience-item, .education-item {
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.experience-item h3, .education-item h3 {
    font-size: 1.2em;
    color: #13bfbc;
}

.experience-date, .education-date {
    font-size: 0.9em;
    color: #b3b3b3;
    margin-bottom: 10px;
}